.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.pokemonName{
    font-size: 2em;
    font-weight: bold;
    color: #000;
}